DATABASE_URL="postgresql://postgres.[SEU_PROJECT_REF]:[SUA_SENHA]@aws-0-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1"
DIRECT_URL="postgresql://postgres.[SEU_PROJECT_REF]:[SUA_SENHA]@db.[SEU_PROJECT_REF].supabase.co:5432/postgres"

JWT_SECRET="precifique-tcc-jwt-secret-2026"
PORT=3333
